

<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    Id="1"
    photoCover="https://i.pinimg.com/originals/b5/fe/11/b5fe11ee521e206fca92bc865d89c742.png"
    cardTitle="Saiu nova versão angular!"
    cardDescription="Bla bla bla bla!" ></app-big-card>
  </div>
  <div class="aritcles__others">
    <app-small-card
    Id="2"
    photoCover="https://i.pinimg.com/originals/b5/fe/11/b5fe11ee521e206fca92bc865d89c742.png"
    cardTitle="Saiu nova versão do Angular!"
    ></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>

</div>
